@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p {
  color: #a4a4a4;
}

.heading_1 {
  font-family: 'Heebo', sans-serif;
  font-size: 158px;
  line-height: 148px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10vh;
}

.heading_2 {
  font-family: 'Heebo', sans-serif;
  font-size: 36px;
  font-weight: 600;
}
